extends layout

block content
  h1 #{title}
  form(action='/info', method='GET')
    input(type='number', name='routeNumber', placeholder='Num', class='routeNumInput', min=0)
    p#inputLabel Route number
    br
    button(type='submit' class='getInfo') Get Info
  p Please note that a map is only available for the following routes:
  ul
    li 7
    li 62
    li 77
    li 79
    li 94

