doctype html
html
    head
        meta(charset='utf-8')
        title Route info
        meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
        script(src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js')
        link(href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css', rel='stylesheet')
        link(href='/stylesheets/style.css', rel='stylesheet')
    body
        div(class='searchGrid')
            div
                p#routeLabel Route #
            div
                form(action='/info', method='GET')
                    input(type='number', name='routeNumber', placeholder='Search', class='search', min=0)
        h1#routeHeader #{routeNum} <span class='destination'>#{name}</span>
        p#nextBus Next bus in [] minutes
        #map
        // Script to load map
        script.
            mapboxgl.accessToken = 'pk.eyJ1Ijoid3JvbmdzeW50YXgiLCJhIjoiY2s3Zmpha2dmMDNpcDNodDZybmNpNXpmMyJ9.-WSlbyZ2q7Z07ci9wQ9pUQ';
            var map = new mapboxgl.Map({
                container: 'map', // container id
                style: #{style}, // stylesheet location
                center: [-113.490, 53.538], // starting position [lng, lat]
                zoom: 10 // starting zoom
            });
            // Add geolocate control to the map. (Taken from Mapbox Documentation)
            map.addControl(
                new mapboxgl.GeolocateControl({
                    positionOptions: {
                        enableHighAccuracy: true
                    },
                    trackUserLocation: true,
                }),
                'bottom-right'
            );
            map.on('load', function () {
                // Insert the layer beneath any symbol layer.
                var layers = map.getStyle().layers;

                var labelLayerId;
                for (var i = 0; i < layers.length; i++) {
                    if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
                        labelLayerId = layers[i].id;
                        break;
                    }
                }

                map.addLayer(
                    {
                        'id': '3d-buildings',
                        'source': 'composite',
                        'source-layer': 'building',
                        'filter': ['==', 'extrude', 'true'],
                        'type': 'fill-extrusion',
                        'minzoom': 15,
                        'paint': {
                            'fill-extrusion-color': '#aaa',

                            // use an 'interpolate' expression to add a smooth transition effect to the
                            // buildings as the user zooms in
                            'fill-extrusion-height': [
                                'interpolate',
                                ['linear'],
                                ['zoom'],
                                15,
                                0,
                                15.05,
                                ['get', 'height']
                            ],
                            'fill-extrusion-base': [
                                'interpolate',
                                ['linear'],
                                ['zoom'],
                                15,
                                0,
                                15.05,
                                ['get', 'min_height']
                            ],
                            'fill-extrusion-opacity': 0.6
                        }
                    },
                    labelLayerId
                );
            });
            // Add zoom and rotation controls to the map.
            map.addControl(new mapboxgl.NavigationControl(), 'bottom-right');
        #schedule
