html {
  background: #212940;
}

body {
  padding: 50px;
  font: 24px "Zilla Slab", Helvetica, Arial, sans-serif;
  color: white;
  margin: 0;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  /*
  background: linear-gradient(0deg, rgba(34,193,195,0) 0%, rgba(9, 139, 246, 0.5) 100%);
   */
}

#routeHeader {
  color: #00FFA7;
  font: 11vh "Zilla Slab SemiBold", Helvetica, Arial, sans-serif;
  margin-top: -50px;
}

.destination {
  font-size: 45px;
}

#inputLabel {
  font-size: 20px;
  font-weight: lighter;
  color: white;
  margin-top: -10px;
  margin-bottom: -25px;
}

.routeNumInput {
  width: 25%;
  font: 75px "Zilla Slab Light";
  background: transparent;
  border: 0;
  color: #00FFA7;
  outline: none;
  /*-moz-appearance: textfield;
  -webkit-appearance: textfield; */
}

.routeNumInput:invalid {
  color: darkred;
}

.getInfo {
  margin-top: 1%;
  padding-right: 25px;
  padding-left: 25px;
  width: auto;
  height: 5vh;
  font: 15px "Zilla Slab SemiBold";
  border: 0;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}

.getInfo:hover {
  background: #00FFA7;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.notFoundImage {
  width: 50%;
}

#routeLabel {
  font-size: 25px;
  font-weight: lighter;
  color: white;
  margin-top: 0;
}

#nextBus {
  font-size: 30px;
  margin-top: -75px;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.searchGrid {
  display: grid;
  width: 100%;
  grid-template-columns: 80% auto;
}

.search {
  background: rgba(33, 41, 64, 0.5);
  color: white;
  border: 1px solid white;
  height: 4vh;
  width: 100%;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font: 90% "Zilla Slab", Helvetica, Arial, sans-serif;
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
}

.search:focus {
  border: 1px solid #00FFA7;
}

.search:invalid {
  border: 1px solid red;
}

#schedule {

}
