html {
  background: #212940;
}

body {
  padding: 50px;
  font: 24px "Zilla Slab", Helvetica, Arial, sans-serif;
  color: white;
}

#routeHeader {
  color: #00FFA7;
  font: 100px "Zilla Slab SemiBold", Helvetica, Arial, sans-serif;
  margin-top: 0;
}

.destination {
  font-size: 45px;
}

.routeNumInput {
  width: 25%;
  font: 75px "Zilla Slab Light";
  background: transparent;
  border: 0;
  color: #00FFA7;
  /*-moz-appearance: textfield;
  -webkit-appearance: textfield; */
}

.routeNumInput:invalid {
  color: darkred;
}

.getInfo {
  margin-top: 1%;
  padding-right: 25px;
  padding-left: 25px;
  width: auto;
  height: 5vh;
  font: 15px "Zilla Slab SemiBold";
  border: 0;
  border-radius: 10px;
  background: white;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}

.getInfo:hover {
  background: #00FFA7;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.notFoundImage {
  width: 50%;
}

#nextBus {
  font-size: 30px;
  margin-top: -75px;
}
